@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  font-family: "Montserrat", sans-serif;
}
.header h1 {
  margin: 0 !important;
  padding: 0 !important;
}
/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: #0a192f;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #1f283d;
  border-radius: 10px;
}

i {
  cursor: pointer;
}
i:hover {
  color: white;
}
/* Loader Animatiom */

.s {
  animation: s 1s infinite;
}
@keyframes s {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0.5;
  }
}
.a {
  animation: a 1s infinite;
}
@keyframes a {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

.p {
  animation: p 1s infinite;
}
@keyframes p {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

/*Input*/
.input {
  height: 40px;
  border: 1px solid gray;
  width: 100%;
  padding-left: 20px;
}

.input:focus {
  outline: none;
  border: 2px solid rgb(56, 56, 56);
}
